[Desktop Entry]
Type=Application
Name=AstroSetup Autostart
Exec=sudo python3 /opt/astroorange/wizard/astro-setup-wizard.py --autostart
OnlyShowIn=XFCE;
RunHook=0
