[Unit]
Description=OrangePi Astro Setup Wizard
After=astro-headless.service

[Service]
Type=simple
User=OPI5_Astro
Environment=DISPLAY=:1
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/xterm -geometry 120x40 -e sudo /usr/local/bin/astro-wizard.sh
Restart=no

[Install]
WantedBy=multi-user.target
