[Unit]
Description=AstroOrange Rescue Hotspot
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/opt/astroorange/bin/astro-network.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
