[Unit]
Description=AstroOrange Headless VNC
After=network.target

[Service]
Type=simple
# Ejecutar como root para poder leer el .Xauthority de cualquier usuario
ExecStart=/opt/astroorange/bin/astro-vnc.sh
Restart=always

[Install]
WantedBy=multi-user.target
