[Unit]
Description=AstroOrange Headless VNC
After=network.target

[Service]
Type=simple
User=astro-setup
ExecStart=/opt/astroorange/bin/astro-vnc.sh
Restart=always

[Install]
WantedBy=multi-user.target
