[Unit]
Description=noVNC Web Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/websockify -D --web=/usr/share/novnc 6080 localhost:5901
Restart=on-failure

[Install]
WantedBy=multi-user.target
