[Unit]
Description=noVNC (Web VNC) Service
After=network.target vncserver@1.service

[Service]
Type=simple
User=AstroOrange
ExecStart=/usr/share/novnc/utils/novnc_proxy --vnc localhost:5901 --listen 6080 --cert /home/AstroOrange/novnc.pem
Restart=on-failure

[Install]
WantedBy=multi-user.target
