[Desktop Entry]
Type=Application
Name=Usuarios
Comment=Gestionar cuentas de usuario
Exec=/opt/astroorange/scripts/astro-wizard-launcher.sh /opt/astroorange/wizard/astro-user-gui.py
Icon=system-users
Categories=AstroOrange;System;Settings;
Terminal=false
