[Desktop Entry]
Type=Application
Name=Instalador Software
Comment=Instalar software astronómico
Exec=sudo python3 /opt/astroorange/wizard/astro-software-gui.py
Icon=system-software-install
Categories=AstroOrange;Education;Science;
Terminal=false
