[Desktop Entry]
Type=Application
Name=Red (WiFi)
Comment=Gestionar redes inalámbricas
Exec=/opt/astroorange/scripts/astro-wizard-launcher.sh /opt/astroorange/wizard/astro-network-gui.py
Icon=network-wireless-hotspot
Categories=AstroOrange;System;Network;
Terminal=false
