# Armbian build configuration overrides
# Este archivo permite pre-definir variables para no tener que pasarlas por línea de comandos.

BOARD="orangepi5pro"
BRANCH="legacy"
RELEASE="noble"
BUILD_MINIMAL="yes"
BUILD_DESKTOP="no"
KERNEL_CONFIGURE="no"
INSTALL_HEADERS="yes"
KERNEL_BTF="no"
# Añadir retardo de arranque robusto (espera al hardware)
EXTRA_ARGS="rootwait rootdelay=15"
